body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

header{
    background:#222;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    padding:20px;
}

#projects div{
    border:1px solid #ddd;
    margin:10px 0;
    padding:10px;
}